* {
    bg0:    #1A1B26;
    bg1:    #333333;
    bg2:    #3D3D3D80;
    bg3:    #333333F2;
    fg0:    #ACB0D0;
    fg1:    #ACB0D0;
    fg2:    #ACB0D0;
    fg3:    #ACB0D0;
    defaultFont: "Neuborn Medium Italic 15";
}

@import "rounded-common.rasi"
